@charset "utf-8";

html {
	font-family: "Microsoft YaHei", "微软雅黑"，"STXihei", "华文细黑";
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	background-color: #5D5D5D;
}

article,
footer,
header,
time,
section,
div {
	display: block;
	border-width: 0;
}


h1 {
	position: absolute;
	display: block;
	bottom: 0;
	margin: 0 0 3px 5px;

	font-family: "SimHei", "黑体", "STHeiti", "华文黑体";
	font-size: 12px;
	color: #ffffff;
}

h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

.wrapper {
	position: relative;

	margin: 0 auto;
	padding: 0 44px 0 44px;
	width: 892px;
	height: 1386px;

	background-color: #fff;
}

.wrapper section {
	position: relative;
	margin-top: 30px;
}

.wrapper .page-header {
	position: relative;

	border-bottom: 2px solid #938e8c;
}

.wrapper .page-header .logo {
	width: 110px;
	height: 61px;

	background-color: #E05D5F;
}

.wrapper .page-header time {
	position: absolute;

	right: 0;
	bottom: 3px;

	font-family: "SimHei", "黑体", "STHeiti", "华文黑体";
	font-size: 12px;
	color: #d45d5c;
}

/*
 * section one
 */

/* 700 intro-box */
.main .intro {
	position: absolute;

	top: 0;
	right: 0;

	width: 203px;
	height: 100%;
	border-top: 2px solid #cc8091;
}

.main .intro h2 {
	margin-top: 16px;

	font-size: 24px;
	font-family: "Microsoft YaHei", "微软雅黑", "STHeiti", "华文黑体";
	font-variant: small-caps;
	text-transform: capitalize;
	text-decoration: underline;
	color: #000000;
}

.main .intro p {
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: "KaiTi", "楷体", "STKaiti", "华文楷体";
	font-size: 12px;
	color: #676767;
}

#issue {
	margin-left: -15px;

	font-family: "Microsoft YaHei", "微软雅黑", "STHeiti", "华文黑体";
	font-size: 116px;
	font-style: oblique;
	line-height: 116px;

	color: #75b86b;
}

.main .intro time {
	display: inline-block;

	margin: 0;

	font-family: "Microsoft YaHei", "微软雅黑", "STHeiti", "华文黑体";
	font-size: 55px;
	color: #cc8091;
}

.main .intro span:nth-of-type(3) {
	position: relative;

	font-family: "KaiTi", "楷体", "STKaiti", "华文楷体";
	font-size: 12px;
	color: #ccc;
}

.main .intro span:nth-of-type(2) {
	position: absolute;

	bottom: 12px;
	font-size: 21px;

	color: #cc8091;
}

 /* poster image */
.main .poster {
	width: 641px;
	height: 301px;

	background: url(../images/pic_1.jpg);
	background-size: cover;
}

.mask {
	height: 100%;
	width: 191px;
}

.mask-one {
	float: left;
	background-color: rgba(66, 140, 89, 0.5);
}

.mask-two {
	float: right;
	background-color: rgba(204, 117, 128, 0.5);
}

/*
 * section-two
 */

.main .section-two {
	display: table;
	width: 640px;
}

.main .section-two .abstract {
	display: table-cell;

	margin: 0;
	padding-right: 24px;
}

.main .section-two .what {
	width: 40%;
}

.main .section-two .when {
	width: 36%;
}

.main .section-two .how {
	width: 24%;
}

.main .section-two .abstract h3 {
	margin-bottom: 12px;

	font-family: "Microsoft YaHei", "微软雅黑", "STHeiti", "华文黑体";
	font-size: 16px;
	font-weight: bold;

	text-decoration: underline;
}

.main .section-two .abstract p {
	font-family: "SimSun", "宋体", "STSong", "华文宋体";
	font-size: 12px;
	color: #767777;
	line-height: 16px;
}

.main .section-two .what h3 {
	color: #418c59;
}

.main .section-two .when h3 {
	color: #d2994f;
}

.main .section-two .how h3 {
	color: #cc7680;
}
.main .section-two .how .percent {
	position: absolute;
	display: block;

	bottom: 0;

	font-family: "Microsoft YaHei", "微软雅黑", "STHeiti", "华文黑体";
	font-size: 12px;
	color: #231815;
	line-height: 16px;
	opacity: 0.7;
}

.main .section-two .how .percent span {
	font-style: italic;
	color: #cd4a48;
}

/*
 * section-three
 */

.main .section-three {
	margin-top: 70px;
}

.main .section-three article {
	width: 415px;
}

.main .section-three article header {
	border-bottom: 2px solid #11456b;
}

.main .section-three article h2 {
	font-family: "SimHei", "黑体", "STHeiti", "华文黑体";
	font-size: 42px;
	line-height: 42px;
	color: #11456b;
}

.main .section-three article h2 span:nth-of-type(1) {
	font-size: 72px;
	font-weight: bold;
	font-style: italic;
	color: #f5e327;
}

.main .section-three article h2 span:nth-of-type(2) {
	display: inline-block;
	padding: 10px 0 16px 0;
	font-size: 33px;
	font-weight: bold;
	line-height: 33px;
}

/* article content */
.main .section-three article .content {
	position: relative;
	margin-top: 20px;

	font-family: "SimSun", "宋体", "STSong", "华文宋体";
	font-size: 12px;
	line-height: 16px;

	color: #767777;
}

.main .section-three article .content .para-cn {
	text-indent: 2em;
}

.main .section-three article .content span {
	float: left;
	margin: 0 9px 10px 0;

	font-family: "Microsoft YaHei", "微软雅黑", "STHeiti", "华文黑体";
	font-size: 70px;
	line-height: 70px;

	color: #f5e327;
}

.main .section-three article .content img {
	float: right;
	clear: left;
	padding: 15px 6px 15px 15px;
}

.main .section-three .image {
	position: absolute;

	top: 0;
	right: 0;
	width: 458px;
	height: 275px;

	background: url(../images/pic_2.jpg);
	background-size: cover;
}

.main .section-three .image .title-mask {
	position: absolute;

	bottom: 0;
	width: 100%;
	height: 61px;
	background-color: rgba(4, 0, 0, 0.4);
}

.main .section-three .image .title-mask .image-title {
	position: absolute;

	top: 50%;
	margin-top: -22px;

	margin-left: 40px;
	height: 44px;
	border-left: 3px solid #72b16a;

	line-height: 44px;
}

.main .section-three .image .title-mask .image-title h2 {
	display: inline;

	margin-left: 0.5em;
	font-family: "Microsoft YaHei", "微软雅黑", "STHeiti", "华文黑体";
	font-size: 26px;
	color: #fff;
}

.main .section-three .image .title-mask .image-title h3 {
	display: inline;

	margin-left: 0.5em;
	font-family: "Microsoft YaHei", "微软雅黑", "STHeiti", "华文黑体";
	font-size: 12px;
	font-style: italic;
	color: #72b16a;
}

.main .section-three .back-cover {
	position: absolute;

	bottom: 0;
	right: 0;

	width: 459px;
	height: 318px;

	background-color: #eeeed5;
}

.main .section-three .back-cover ul {
	margin-top: 35px;
}

.main .section-three .back-cover .angle {
	position: relative;

	top: -10px;
	margin-right: 0.5em;

	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid #1a4569;
}

.main .section-three .back-cover ul li {
	margin-top: 20px;

	list-style: none;

	font-family: "SimSun", "宋体", "STSong", "华文宋体";
	font-size: 16px;
	color: #5a5b5b;

	overflow: hidden;
}

.main .section-three .back-cover ul li span:nth-of-type(2) {
	position: absolute;

	right: 2em;
	font-family: "SimSun", "宋体", "STSong", "华文宋体";
	font-size: 12px;
	font-style: italic;
	line-height: 18px;
	color: #5a5b5b;

	background-color:#eeeed5;
}

.main .section-three .container {
	position: absolute;

	bottom: 0;
	height: 160px;
	width: 100%;

	font-family: "SimHei", "黑体", "STHeiti", "华文黑体";
}

.main .section-three .container .back-box {
	position: relative;

	width: 260px;
	height: 160px;

	text-align: center;
	color: #fff;
	background-color: #d45e5c;
}

.main .section-three .container .back-box span {
	display: inline-block;

	font-family: "Microsoft YaHei", "微软雅黑", "STHeiti", "华文黑体";
	font-size: 110px;
	line-height: 160px;
}

.main .section-three .container .back-box div {
	position: relative;
	display: inline-block;

	margin-top: -26px;
	padding-left: 0.5em;
	height: 86px;
	border-left: 2px solid #ffffff;

	text-align: left;
}

.main .section-three .container .back-box p:nth-of-type(1) {
	font-size: 21px;
	font-style: italic;
	line-height: 24px;
}

.main .section-three .container .back-box p:nth-of-type(2) {
	margin-top: 6px;
	font-size: 12px;
	line-height: 18px;
}

.main .section-three .container blockquote {
	position: absolute;
	display: inline-block;

	top: 0;
	right: 10px;
	margin: 0;
	padding: 0;
	width: 170px;

	font-size: 14px;
	font-style: italic;
	color: #5a5b5b;

	line-height: 16px;
}

.main .section-three .container blockquote p {
	margin-top: 15px;
}

.main .section-three .container blockquote span {
	margin-left: -50px;
	margin-bottom: -50px;

	font-size: 72px;
	line-height: 72px;

		color: #d45d5c;
}

.main .section-three .container blockquote span:nth-of-type(1) {
	float: left;
	margin-right: 20px;
}

.main .section-three .container blockquote span:nth-of-type(2) {
	float: right;
	margin-top: -14px;
	margin-right: -17px;
}

.wrapper footer {
	margin-top: 38px;
	padding-top: 5px;
	border-top: 1px solid #938e8c;

	text-align: right;

	font-family: "SimHei", "黑体", "STHeiti", "华文黑体";
	font-size: 12px;
	color: #d45d5c;
}
